exportMethods(getSeqOccupancy)
useDynLib(MatrixRider)
import(methods)      
import(IRanges)
import(XVector)
importClassesFrom(TFBSTools, PFMatrix, PFMatrixList)
importClassesFrom(Biostrings, DNAString)
