#exportPattern("^[[:alpha:]]+")
exportMethods(getSeqOccupancy)
useDynLib(MatrixRider)
import(methods)      
import(IRanges)
import(XVector)
importFrom(TFBSTools, PFMatrix, PFMatrixList)
importFrom(Biostrings, DNAString)
