#exportPattern("^[[:alpha:]]+")
exportMethods(getSeqOccupancy)
useDynLib(MatrixRider, .registration = TRUE)
import(methods)      
importFrom(TFBSTools, PFMatrix, PFMatrixList)
importFrom(Biostrings, DNAString)
